/*Estilo para los modales*/
.modal-content{
	color: black;
	font-weight: 900;
	font-size: 15px;
}

.modal-content h3 {
	font-weight: 800;
}

.modal-content h4 {
	font-weight: 800;
}

.modal-content .contenido_modal {
	border: 1px solid black;
	border-radius: 20px;
}

.modal-header{
	background-color: #b3e0ff;
}

.modal-footer{
	font-weight: 800;
}

.modal-body{
	background-color: #e6f5ff;
}

.modal-footer{
	background-color: #e6f5ff;
}

/*Estilo para los modales*/

/*ESTILOS PARA LOS NOMBRES DE LAS MONEDAS Y BILLETES*/
.nombre_todo{
color: #71bdfc;	
text-decoration: underline;
}

*
{
	font-family: 'Gugi', cursive;
}

/*ESTILOS PARA LOS NOMBRES DE LAS MONEDAS Y BILLETES*/

